blinker==1.9.0
chardet==7.3.0
click==8.3.1
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pillow==12.1.1
PyMuPDF==1.27.2.3
pypdf==5.1.0
PyPDF2==3.0.1
qrcode==8.0
reportlab==4.2.5
Werkzeug==3.1.7
gunicorn
